apiVersion: argoproj.io/v1alpha1
kind: Workflow
metadata:
  generateName: benchmark-
spec:
  entrypoint: main
  arguments:
    parameters:
      - name: driverImage
      - name: elastiknnImage
      - name: awsAccessKeyId
      - name: awsSecretAccessKey
      - name: bucket
        value: elastiknn-benchmarks
      - name: esJvmMemory
        value: 8G
      - name: esTotalMemory
        value: 12G
  templates:
    - name: main
      parallelism: 40
      steps:
        - - name: generate
            template: generate
        - - name: apply-configmap
            template: apply-configmap
        - - name: execute
            template: execute
            withParam: "{{steps.generate.outputs.parameters.experiments}}"
            arguments:
              parameters:
                - name: experimentKey
                  value: "{{item.experimentKey}}"
                - name: shards
                  value: "{{item.shards}}"
        - - name: aggregate
            template: aggregate

    # Scala app generates experiments, writes them to s3, generates a file containing their keys, writes the file to s3.
    - name: generate
      container:
        image: "{{workflow.parameters.driverImage}}"
        imagePullPolicy: "Always"
        args:
          - com.klibisz.elastiknn.benchmarks.Generate
          - --experimentsPrefix
          - experiments
          - --bucket
          - "{{workflow.parameters.bucket}}"
          - --manifestPath
          - /tmp/manifest.json
        env:
          - name: AWS_ACCESS_KEY_ID
            value: "{{workflow.parameters.awsAccessKeyId}}"
          - name: AWS_SECRET_ACCESS_KEY
            value: "{{workflow.parameters.awsSecretAccessKey}}"
      outputs:
        parameters:
          - name: experiments
            valueFrom:
              path: /tmp/manifest.json

    # Create a configmap mounted by the Elasticsearch sidecar containers.
    - name: apply-configmap
      resource:
        action: apply
        manifest: |
          apiVersion: v1
          kind: ConfigMap
          metadata:
            name: esconfig
          data:
            elasticsearch.yml: |
              discovery.type: single-node
              cluster.name: "no-cluster"
              network.host: 0.0.0.0
              node.processors: ${ES_SHARDS}
              thread_pool.search.size: ${ES_SHARDS}
            jvm.options: |
              # G1GC garbage collection
              13-:-XX:+UseG1GC
              13-:-XX:G1ReservePercent=25
              13-:-XX:InitiatingHeapOccupancyPercent=30
              # Temp directory
              -Djava.io.tmpdir=/tmp
              # Head dump settings
              -XX:+HeapDumpOnOutOfMemoryError
              -XX:HeapDumpPath=data
              # specify an alternative path for JVM fatal error logs
              -XX:ErrorFile=logs/hs_err_pid%p.log
              # JDK 9+ GC logging
              9-:-Xlog:gc*,gc+age=trace,safepoint:file=logs/gc.log:utctime,pid,tags:filecount=32,filesize=64m
              # Information about JIT optimization and inlining. See: https://www.baeldung.com/jvm-method-inlining
              # -XX:+PrintCompilation
              # -XX:+UnlockDiagnosticVMOptions
              # -XX:+PrintInlining
              # VisualVM profiling
              # -Dcom.sun.management.jmxremote.ssl=false
              # -Dcom.sun.management.jmxremote.authenticate=false
              # -Dcom.sun.management.jmxremote.local.only=false
              # -Dcom.sun.management.jmxremote.port=8097
              # -Dcom.sun.management.jmxremote.rmi.port=8097
              # -Djava.rmi.server.hostname=localhost

    - name: execute
      inputs:
        parameters:
          - name: experimentKey
          - name: shards
      retryStrategy:
        limit: 2
        retryPolicy: "Always"
      volumes:
        - name: esdata
          emptyDir:
            medium: Memory
        - name: esconfig
          configMap:
            name: esconfig
      # Sets the correct permissions for mounted volume.
      securityContext:
        fsGroup: 1000
      # Needed because you can't use parameters in the resources context for some reason.
      podSpecPatch: |
        containers:
          - name: elastiknn
            resources:
              requests:
                cpu: "{{inputs.parameters.shards}}"
                memory: "{{workflow.parameters.esTotalMemory}}"
              limits:
                cpu: "{{inputs.parameters.shards}}"
                memory: "{{workflow.parameters.esTotalMemory}}"
      container:
        image: "{{workflow.parameters.driverImage}}"
        imagePullPolicy: "Always"
        args:
          - com.klibisz.elastiknn.benchmarks.Execute
          - --experimentKey
          - "{{inputs.parameters.experimentKey}}"
          - --datasetsPrefix
          - "data/processed"
          - --resultsPrefix
          - "results/raw"
          - --bucket
          - "{{workflow.parameters.bucket}}"
          - --numQueries
          - "10000"
          - --warmupQueries
          - "200"
          - --minWarmupRounds
          - "15"
          - --maxWarmupRounds
          - "100"
        env:
          - name: AWS_ACCESS_KEY_ID
            value: "{{workflow.parameters.awsAccessKeyId}}"
          - name: AWS_SECRET_ACCESS_KEY
            value: "{{workflow.parameters.awsSecretAccessKey}}"
          - name: JAVA_OPTS
            value: >-
              -XX:MinRAMPercentage=10
              -XX:MaxRAMPercentage=90
              -XX:+HeapDumpOnOutOfMemoryError
              -XX:+ExitOnOutOfMemoryError
        resources:
          requests:
            cpu: 1
            memory: 2G
          limits:
            cpu: 1
            memory: 2G
      sidecars:
        - name: elastiknn
          image: "{{workflow.parameters.elastiknnImage}}"
          imagePullPolicy: "Always"
          env:
            - name: ES_JAVA_OPTS
              value: >-
                -Xms{{workflow.parameters.esJvmMemory}}
                -Xmx{{workflow.parameters.esJvmMemory}}
            - name: ES_SHARDS
              value: "{{inputs.parameters.shards}}"
          ports:
            - name: jmx
              containerport: 8097
              protocol: TCP
          volumeMounts:
            - name: esdata
              mountPath: /usr/share/elasticsearch/data
              readOnly: false
            - name: esconfig
              mountPath: /usr/share/elasticsearch/config/elasticsearch.yml
              subPath: elasticsearch.yml
              readOnly: true
            - name: esconfig
              mountPath: /usr/share/elasticsearch/config/jvm.options
              subPath: jvm.options
              readOnly: true

    - name: aggregate
      container:
        image: "{{workflow.parameters.driverImage}}"
        imagePullPolicy: "Always"
        env:
          - name: AWS_ACCESS_KEY_ID
            value: "{{workflow.parameters.awsAccessKeyId}}"
          - name: AWS_SECRET_ACCESS_KEY
            value: "{{workflow.parameters.awsSecretAccessKey}}"
        args:
          - com.klibisz.elastiknn.benchmarks.Aggregate
          - --bucket
          - elastiknn-benchmarks
          - --resultsPrefix
          - results/raw
          - --aggregateKey
          - results/aggregate.csv
