@()

@main("Elastiknn Demo") {

    <h2>Elastiknn Demo</h2>

    <p>This webapp lets you see Elastiknn nearest neighbors search results for several datasets using several similarity functions.</p>

    <p>The app is built using the Play Framework and runs Elastiknn queries on a small Elasticsearch cluster.</p>

    <p>The source code is available in the <a href="https://github.com/alexklibisz/elastiknn">Elastiknn Github repository</a>.</p>

    <p>Follow one of the links below to start exploring search results.</p>

    <ul>
        @for(ds <- models.Dataset.defaults) {
            <li>
                <a href="@routes.DemoController.dataset(ds.permalink, None)">@(ds.prettyName)</a>
            </li>
        }
    </ul>

}
