version: "3.8"

services:

  # Local development server with automatic recompilation.
  dev:
    container_name: elastiknn-docs-dev
    image: jekyll/jekyll:4.0
    volumes:
      - ".:/srv/jekyll"
      - "./.gemcache:/usr/gem/cache"
    command:
      - "/bin/bash"
      - "-ec"
      - |
        bundle install
        bundle exec jekyll serve --host 0.0.0.0
    ports:
      - "4000:4000/tcp"

  # Build site for publication. Output is in site/_site.
  compile:
    container_name: elastiknn-docs-build
    image: jekyll/jekyll:4.0
    volumes:
      - ".:/srv/jekyll:z"
      - "./.gemcache:/usr/gem/cache"
    command:
      - "/bin/bash"
      - "-ec"
      - |
        chown -R root:root docs
        bundle install
        chown -R runner:docker docs
        bundle exec jekyll build
    environment:
      - JEKYLL_ENV=production
