# Workflow that runs benchmarks on demand.
# Unfortunately you can only run this workflow after committing it to master.
# So if you change the YAML on a branch, you'll first have to merge that change
# into master before you can run the modified YAML.
name: Benchmark
on:
  repository_dispatch:
    types: benchmark
  push:
    branches:
      - benchmark-workflow-cmds
jobs:
  benchmark:
    name: Benchmark
    runs-on: ubuntu-20.04
    steps:
      - name: Print Environment
        env:
          GITHUB_CONTEXT: ${{ toJson(github) }}
        run: printenv | sort
      - name: Checkout Branch
        uses: actions/checkout@v2
        with:
          # This seems to work even if client_payload is empty?
          ref: '${{ github.event.client_payload.branch }}'
      - name: Print Branch
        run: |
          git rev-parse --abbrev-ref HEAD

      - name: Setup Java
        uses: actions/setup-java@v1
        with:
          java-version: 14

      # Needs to run after language setup.
      - name: Setup Environment
        env:
          GPG_SECRET_B64: ${{ secrets.GPG_SECRET_B64 }}
          GRADLE_PROPERTIES_B64: ${{ secrets.GRADLE_PROPERTIES_B64 }}
          PYPIRC_B64: ${{ secrets.PYPIRC_B64 }}
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
          SSH_CONFIG_B64: ${{ secrets.SSH_CONFIG_B64 }}
          SSH_IDRSA_B64: ${{ secrets.SSH_IDRSA_B64 }}
        run: ./.github/scripts/setup-env.sh

      - name: Run Benchmark
        run: make benchmarks/continuous/run
      
      - name: Report Results
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
          RUN_ID: ${{ github.run_id }}
        run: |
          pip install --user csv2md
          COMMIT=$(git rev-parse --verify HEAD) \
          RESULTS_TABLE=$(find . -name aggregate.csv | head -n1 | xargs csv2md) \
          envsubst < .github/scripts/benchmarks-template.md > comment.md
          ./.github/scripts/pr-comment.sh comment.md
