name: CI

on:
  pull_request:
    branches: 
      - master
      - release
  push:
    branches:
      - master

jobs:
  context:
    runs-on: ubuntu-18.04
    steps:
    - name: Show GitHub context
      env:
        GITHUB_CONTEXT: ${{ toJson(github) }}
      run: echo "$GITHUB_CONTEXT"
  build:
    runs-on: ubuntu-18.04
    steps:
    - uses: actions/checkout@v2
    - name: Setup Java
      uses: actions/setup-java@v1
      with:
        java-version: 12.0.2
    - name: Setup Secrets
      env:
        GPG_SECRET_B64: ${{ secrets.GPG_SECRET_B64 }}
        GRADLE_PROPERTIES_B64: ${{ secrets.GRADLE_PROPERTIES_B64 }}
      run: ./.github/scripts/setup-secrets.sh
    - name: Publish Plugin Zip to Github
      run: |
        curl -fsSL https://github.com/github/hub/raw/master/script/get | bash -s 2.14.1
        bin/hub release delete $(cat version) || true
    - name: Compile JVM
      run: make compile/gradle
    - name: Compile Python
      run: make compile/python
    - name: Start Testing Cluster
      run: make run/cluster
    - name: Test JVM
      run: make test/gradle
    - name: Test Python
      run: make test/python
    - name: Run Examples
      run: make examples
    - name: Set Version (PR)
      if: github.event_name == 'pull_request'
      run: echo PR-${{ github.event.pull_request.number }}-SNAPSHOT > version
    - name: Set Version (Master)
      if: github.event_name == 'push'
      run: echo MASTER-${{ github.run_number }}-SNAPSHOT > version
    - name: Publish Scala Libraries to Sonatype
      run: make publish/snapshot/sonatype
    - name: Clean
      run: make clean
