name: "CI"

on:
  pull_request:
    branches:
      - main

concurrency:
  group: ${{ github.ref }}
  cancel-in-progress: true

jobs:
  show-github-context:
    name: "Show Github Context"
    timeout-minutes: 1
    runs-on:
      - elastiknn-ccx23
    env:
      GITHUB_CONTEXT: ${{ toJson(github) }}
    steps:
      - run: echo $GITHUB_CONTEXT

  test-jvm:
    name: "Test JVM Code"
    runs-on:
      - elastiknn-ccx23
    steps:
      - uses: actions/checkout@v3
        timeout-minutes: 1
      - uses: actions/setup-java@v3
        timeout-minutes: 1
        with:
          distribution: 'adopt'
          java-version: 21
          cache: 'sbt'
      - uses: arduino/setup-task@v1
        timeout-minutes: 1
        with:
          repo-token: ${{ secrets.GITHUB_TOKEN }}
      - name: Increase MMAP Limits
        timeout-minutes: 1
        run: sudo sysctl -w vm.max_map_count=262144
      - name: Lint
        timeout-minutes: 5
        run: task jvmLint
      - name: Compile
        timeout-minutes: 5
        run: task jvmCompile
      - name: Assemble
        timeout-minutes: 1
        run: task jvmAssemble
      - name: Run Unit Tests
        timeout-minutes: 1
        run: task jvmUnitTest
      - name: Run Cluster
        timeout-minutes: 5
        run: task dockerRunTestingCluster
      - name: Run Integration Tests
        timeout-minutes: 20
        run: task jvmIntegrationTest
      - name: Cluster Logs
        timeout-minutes: 1
        if: always()
        run: task dockerLogTestingCluster
      - name: Stop Cluster
        timeout-minutes: 1
        if: always()
        run: task dockerStopTestingCluster
      
  test-python:
    name: Test Python Client Code
    runs-on:
      - elastiknn-ccx23
    steps:
      - uses: actions/checkout@v3
        timeout-minutes: 1
      - uses: actions/setup-java@v3
        timeout-minutes: 1
        with:
          distribution: 'adopt'
          java-version: 21
          cache: 'sbt'
      - uses: actions/setup-python@v4
        timeout-minutes: 1
        with:
          python-version: '3.10.8'
          cache: 'pip'
      - uses: arduino/setup-task@v1
        timeout-minutes: 1
        with:
          repo-token: ${{ secrets.GITHUB_TOKEN }}
      - name: Increase MMAP Limits
        timeout-minutes: 1
        run: sudo sysctl -w vm.max_map_count=262144
      - name: Docs
        timeout-minutes: 1
        run: task pyDocs
      - name: Run Cluster
        timeout-minutes: 5
        run: task dockerRunTestingCluster
      - name: Test
        timeout-minutes: 1
        run: task pyTest
      - name: Cluster Logs
        timeout-minutes: 1
        if: always()
        run: task dockerLogTestingCluster
      - name: Stop Cluster
        timeout-minutes: 1
        if: always()
        run: task dockerStopTestingCluster

  test-benchmarks:
    name: Test Benchmarks
    runs-on:
      - elastiknn-ccx23
    timeout-minutes: 10
    steps:
      - uses: actions/checkout@v3
        timeout-minutes: 1
      - uses: actions/setup-java@v3
        timeout-minutes: 1
        with:
          distribution: 'adopt'
          java-version: 21
          cache: 'sbt'
      - uses: arduino/setup-task@v1
        timeout-minutes: 1
        with:
          repo-token: ${{ secrets.GITHUB_TOKEN }}
      - uses: actions/setup-python@v4
        timeout-minutes: 1
        with:
          python-version: '3.10.8'
          cache: 'pip'
      - name: Increase MMAP Limits
        timeout-minutes: 1
        run: sudo sysctl -w vm.max_map_count=262144
      - name: Initialize Submodule
        timeout-minutes: 1
        run: task annbCreateSubmodule
      - name: Install Dependencies
        timeout-minutes: 1
        run: task annbInstallRequirements
      - name: Run Cluster
        timeout-minutes: 5
        run: task dockerRunTestingCluster
      - name: Test
        timeout-minutes: 5
        run: task annbTest
      - name: Cluster Logs
        timeout-minutes: 1
        if: always()
        run: task dockerLogTestingCluster
      - name: Stop Cluster
        timeout-minutes: 1
        if: always()
        run: task dockerStopTestingCluster

  test-jekyll-site:
    name: Test Jekyll Site
    runs-on:
      - elastiknn-ccx23
    timeout-minutes: 10
    steps:
      - uses: actions/checkout@v3
        timeout-minutes: 1
      - uses: arduino/setup-task@v1
        timeout-minutes: 1
        with:
          repo-token: ${{ secrets.GITHUB_TOKEN }}
      - name: Compile Jekyll Site
        run: |
          sudo chown -R runneradmin:runneradmin docs
          task docsCompile
          sudo chown -R runner:docker docs 
          ls -la docs/*