name: "CI"

on:
  pull_request:
    branches:
      - main
  push:
    branches:
      - main

concurrency:
  group: ${{ github.ref }}
  cancel-in-progress: true

jobs:
  show-github-context:
    name: "Show Github Context"
    timeout-minutes: 1
    runs-on:
      - ubuntu-22.04
    env:
      GITHUB_CONTEXT: ${{ toJson(github) }}
    steps:
      - run: echo $GITHUB_CONTEXT
  
  test-jvm:
    name: "Test JVM Code"
    runs-on:
      - ubuntu-22.04
    timeout-minutes: 20
    steps:
      - uses: actions/checkout@v3
      - uses: actions/cache@v3
        with:
          key: ${{ github.workflow }}.${{ github.job }}.r${{ github.run_number }}
          restore-keys: |
            ${{ github.workflow }}.${{ github.job }}
          path: |
            **/target/**/*
      - uses: actions/setup-java@v3
        with:
          distribution: 'adopt'
          java-version: 17
          cache: 'sbt'
      - uses: jtalk/setup-sbt@v2
        with:
          version: 1.8.0
      - uses: arduino/setup-task@v1
      - name: Increase MMAP Limits
        run: sudo sysctl -w vm.max_map_count=262144
      - name: Compile
        run: task jvmCompile
      - name: Assemble
        run: task jvmAssemble
      - name: Run Unit Tests
        run: task jvmUnitTestQuick
      - name: Run Cluster
        run: task dockerRunTestingCluster
      - name: Run Integration Tests
        run: task jvmIntegrationTestQuick
      - name: Cluster Logs
        if: always()
        run: task dockerLogTestingCluster
      - name: Stop Cluster
        if: always()
        run: task dockerStopTestingCluster
      
  test-python:
    name: Test Python Code
    runs-on:
      - ubuntu-22.04
    timeout-minutes: 10
    steps:
      - uses: actions/checkout@v3
      - uses: actions/cache@v3
        with:
          key: ${{ github.workflow }}.${{ github.job }}.r${{ github.run_number }}
          restore-keys: |
            ${{ github.workflow }}.${{ github.job }}
          path: |
            **/target/**/*
      - uses: actions/setup-java@v3
        with:
          distribution: 'adopt'
          java-version: 17
          cache: 'sbt'
      - uses: actions/setup-python@v4
        with:
          python-version: '3.7.15'
          cache: 'pip'
      - uses: jtalk/setup-sbt@v2
        with:
          version: 1.8.0
      - uses: arduino/setup-task@v1
      - name: Increase MMAP Limits
        run: sudo sysctl -w vm.max_map_count=262144
      - name: Docs
        run: task pyDocs
      - name: Run Cluster
        run: task dockerRunTestingCluster
      - name: Test
        run: task pyTest
      - name: Cluster Logs
        if: always()
        run: task dockerLogTestingCluster
      - name: Stop Cluster
        if: always()
        run: task dockerStopTestingCluster

  test-benchmarks:
    name: Test Benchmarks
    runs-on:
      # Has to remain on ubuntu 20 and python 3.6 until ann-benchmarks is upgraded.
      - ubuntu-20.04
    timeout-minutes: 10
    steps:
      - uses: actions/checkout@v3
      - uses: actions/cache@v3
        with:
          key: ${{ github.workflow }}.${{ github.job }}.r${{ github.run_number }}
          restore-keys: |
            ${{ github.workflow }}.${{ github.job }}
          path: |
            **/target/**/*
      - uses: actions/setup-java@v3
        with:
          distribution: 'adopt'
          java-version: 17
          cache: 'sbt'
      - uses: jtalk/setup-sbt@v2
        with:
          version: 1.8.0
      - uses: arduino/setup-task@v1
      - uses: actions/setup-python@v4
        with:
          python-version: '3.6'
          cache: 'pip'
      - name: Increase MMAP Limits
        run: sudo sysctl -w vm.max_map_count=262144
      - name: Initialize Submodule
        run: task annbCreateSubmodule
      - name: Install Dependencies
        run: task annbInstallRequirements
      - name: Run Cluster
        run: task dockerRunTestingCluster
      - name: Test
        run: task annbTest
      - name: Cluster Logs
        if: always()
        run: task dockerLogTestingCluster
      - name: Stop Cluster
        if: always()
        run: task dockerStopTestingCluster

  build-jekyll-site:
    name: Test Jekyll Site
    runs-on:
      - ubuntu-22.04
    timeout-minutes: 10
    steps:
      - uses: actions/checkout@v3
      - uses: arduino/setup-task@v1
      - name: Compile Jekyll Site
        run: |
          sudo chown -R root:root docs
          task docsCompile
          sudo chown -R runner:docker docs 
          ls -la docs/*

  publish-snapshots:
    name: Publish Snapshots
    runs-on:
      - ubuntu-22.04
    timeout-minutes: 10
    needs: [show-github-context, test-jvm, test-python, test-benchmarks]
    steps:
      - uses: actions/checkout@v3
        with:
          fetch-depth: 0 # Needed for git-based changelog.
      - uses: actions/cache@v3
        with:
          key: ${{ github.workflow }}.${{ github.job }}.r${{ github.run_number }}
          restore-keys: |
            ${{ github.workflow }}.${{ github.job }}
          path: |
            **/target/**/*
      - name: Setup Release Credentials
        env:
          PYPIRC_B64: ${{ secrets.PYPIRC_B64 }}
        run: ./.github/scripts/setup-env.sh
      - uses: actions/setup-java@v3
        with:
          distribution: 'adopt'
          java-version: 17
          cache: 'sbt'
      - uses: jtalk/setup-sbt@v2
        with:
          version: 1.8.0
      - uses: actions/setup-python@v4
        with:
          python-version: '3.7.15'
          cache: 'pip'
      - uses: arduino/setup-task@v1
      - name: Setup Setuptools
        run: python3 -m pip install setuptools
      - name: Publish to PyPi
        run: task pyPublishSnapshot VERSION=$(cat version)-dev${{ github.run_number }}
        if: github.event_name == 'pull_request'
      - name: Publish Plugin from PR
        if: github.event_name == 'pull_request'
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
        run: task jvmPublishSnapshot VERSION=$(cat version)-PR${{ github.event.pull_request.number }}-SNAPSHOT
      - name: Publish Plugin from Main
        if: github.event_name == 'push'
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
        run: |
          ./.github/scripts/delete-snapshot-releases.sh
          task jvmPublishSnapshot VERSION=$(cat version)-MAIN${{ github.run_number }}-SNAPSHOT
