name: CI

on:
  pull_request:
    branches: 
      - master
  push:
    branches: 
      - master

jobs:
  build:

    runs-on: ubuntu-18.04

    steps:
    - uses: actions/checkout@v2
    - name: Setup java
      uses: actions/setup-java@v1
      with:
        java-version: 12.0.2
    - name: Compile JVM
      run: make compile/gradle
    - name: Compile Python
      run: make compile/python
    - name: Start Testing Cluster
      run: make run/cluster
    - name: Test JVM
      run: make test/gradle
    - name: Test Python
      run: make test/python
        
