name: "Delete Old Pre-releases"

on:
  push:
    branches:
      - main
  schedule:
    - cron: '0 0 * * 0'
  workflow_dispatch:

jobs:
  cleanup-snapshots:
    name: Cleanup Snapshots
    runs-on:
      - ubuntu-22.04
    env:
      GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
    steps:
      - uses: actions/checkout@v3
      - run: ./.github/scripts/delete_old_pre_releases.py