# Placeholder for running a release when a PR is merged into the release branch.
# This seems to be the only way you can manually invoke a release.
name: Release
on:
  push:
    branches: 
      - release
  pull_request:
    branches:
      - release
jobs:
  check:
    runs-on: ubuntu-18.04
    name: Ensure PRs can only come from master
    if: github.event_name == 'pull_request' && github.head_ref != 'master'
    run: |
      echo "You can only merge to the release branch from the master branch"
      exit 1
  release:
    runs-on: ubuntu-18.04
    steps:
    - uses: actions/checkout@v2
    - name: Run a one-line script
      run: echo Hello, release!
