name: Release
on:
  push:
    branches: 
      - master

jobs:

  release:
    runs-on: ubuntu-20.04
    steps:
      - uses: actions/checkout@v2
        with:
          fetch-depth: 0 # Needed for git-based changelog.
      - uses: actions/setup-java@v1
        with:
          java-version: 14
      - uses: actions/setup-python@v2
        with:
          python-version: '3.7.5'
      - name: Setup Release Credentials
        env:
          GPG_SECRET_B64: ${{ secrets.GPG_SECRET_B64 }}
          GRADLE_PROPERTIES_B64: ${{ secrets.GRADLE_PROPERTIES_B64 }}
          PYPIRC_B64: ${{ secrets.PYPIRC_B64 }}
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
          SSH_CONFIG_B64: ${{ secrets.SSH_CONFIG_B64 }}
          SSH_IDRSA_B64: ${{ secrets.SSH_IDRSA_B64 }}
        run: ./.github/scripts/setup-env.sh
      - run: |
          sudo snap install task --classic
          sudo snap install hub --classic
          python3 -m pip install setuptools
      - name: Publish Python Docs
        run: task py:publish-docs
      - name: Publish JVM Docs
        run: task jvm:docs:publish
      - name: Publish Site
        run: task docs:publish
      - name: Publish to PyPi
        run: task py:publish-release
      - name: Publish to Sonatype
        run: task jvm:libraries:publish:release
      - name: Publish to Github
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
        run: task jvm:plugin:publish:release
