name: Scala Steward
on:
  workflow_dispatch:
  schedule:
    - cron: '0 0 6 * *'
jobs:
  scala-steward:
    runs-on: elastiknn-ccx23
    name: Launch Scala Steward
    steps:
      - name: Scala Steward
        uses: scala-steward-org/scala-steward-action@v2
        with:
          github-app-id: ${{ secrets.SCALA_STEWARD_APP_ID }}
          github-app-installation-id: ${{ secrets.SCALA_STEWARD_APP_INSTALLATION_ID }}
          github-app-key: ${{ secrets.SCALA_STEWARD_APP_PRIVATE_KEY }}
          github-app-auth-only: 'true'
          github-repository: alexklibisz/elastiknn
